:root {
  --white-color: #ffffff;
  --black-color: #282828;
  --grey-color: #4e4e4e;
  /* --green-color: #8bc037;
  --green-color-faded: #c5e09b; */
  --green-color: #007EB2;
  --green-color-faded: #66b2d1;
}